body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --title-color: #2e2f42;
  --contact-color: #434455;
  --poragraf-color: #434455;
  --logo: #4d5ae5;
}

.body-list {
}

.header-item {
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.web {
  color: var(--logo);
}

.list-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
}

.link-menu :hover,
.link-menu :focus {
  color: #fd9222;
}

.link-studio {
  color: var(--title-color);
}
.link-portfolio {
  color: var(--title-color);
}

.link-contacts {
  color: var(--title-color);
}

.contact-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.mail {
  color: var(--contact-color);
}

.tel {
  color: var(--contact-color);
}

.button-title-service {
  background-color: var(--title-color);
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}

.button-order {
  background: #4d5ae5;
}

.button-order span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.info-skills {
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
}

.skills-list h3 {
  font-size: 20px;
  line-height: 1.2;
}

.skills-list p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--poragraf-color);
}
/** --------------skills-list-info --------------- */

.skills-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
}
.list-team h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.12;
  color: var(--title-color);
}

.list-team p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--poragraf-color);
}
.info-team {
  background: #ffffff;
}

.footer {
  background: var(--title-color);
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

/** --------------next-html-portfolio--------------- */

.item-butoon button {
  background: #f4f4fd;
}
.item-butoon button:hover,
.item-butoon button :focus {
  background: #404bbf;
}
.choice-butoon span {
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
}
.choice-butoon span:hover,
.choice-butoon span:focus {
  color: #ffffff;
}

/** --------------next-html-portfolio--------------- */
.ul-portfolio h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}
.ul-portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--poragraf-color);
}

.li-portfolio {
  background: #ffffff;
}
