body {
  font-family: "Roboto", medium;
  color: #2e2f42;
  background-color: #e5e5e5;
}

.body-list {
}

.header-item {
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.link-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
}

.link-logo span {
  color: #4d5ae5;
}

.list-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.link-menu :hover,
.link-menu :focus {
  color: #fd9222;
}

.link-studio {
  color: #2e2f42;
}
.link-portfolio {
  color: #2e2f42;
}

.link-contacts {
  color: #2e2f42;
}

.contact-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.mail {
  color: #434455;
}

.tel {
  color: #434455;
}

.button-title-service {
  background-color: #2e2f42;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}

.button-order {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-order span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.info-skills {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

.skills-list h3 {
  font-size: 20px;
  line-height: 1.2;
}

.skills-list p {
  font-size: 16px;
  line-height: 1.5;
  color: #554343;
}
/** --------------skills-list-info --------------- */

.skills-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.list-team h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.12;
  color: #2e2f42;
}

.list-team p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.info-team {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer {
  background: #2e2f42;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

/** --------------next-html-portfolio--------------- */

.item-butoon button {
  background: #f4f4fd;
}
.item-butoon button:hover,
.item-butoon button :focus {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.choice-butoon span {
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
}
.choice-butoon span:hover,
.choice-butoon span:focus {
  color: #ffffff;
}

/** --------------next-html-portfolio--------------- */
.ul-portfolio h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.ul-portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.li-portfolio {
  background: #ffffff;
}
